# === Project & IDE Specific ===
# IAR
output/
tcc70xx-freertos-debug/

# === Build Artifacts ===
*.hex
*.map
*.out
*.axf
*.srec
*.rom
*.signed

!updater.rom
!vcp_fwdn.rom
# === FreeRTOS Specific ===
# RTOS 관련 부산물 (필요한 경우만 제외)
FreeRTOS_Config.h.bak